<!-- <div class="margin">
    x1: <input type="number" (value)="x1" input="onChange('x1', value)" (keyup)="onKey('x1',$event)"/>
</div>

<div>
    y1: <input type="number" (value)="y1" input="onChange('y1', value)" (keyup)="onKey('y1',$event)"/>
</div>

<div>
    x2: <input type="number" (value)="x2" input="onChange('x2', value)" (keyup)="onKey('x2',$event)"/>
</div>

<div>
    y2: <input type="number" (value)="y2" input="onChange('y2', value)" (keyup)="onKey('y2',$event)"/>
</div>

<div>
    x3: <input type="number" (value)="x3" input="onChange('x3', value)" (keyup)="onKey('x3',$event)"/>
</div>

<div>
    y3: <input type="number" (value)="y3" input="onChange('y3', value)" (keyup)="onKey('y3',$event)"/>
</div>

<div>
    x4: <input type="number" (value)="x4" input="onChange('x4', value)" (keyup)="onKey('x4',$event)"/>
</div>

<div>
    y4: <input type="number" (value)="y4" input="onChange('y4', value)" (keyup)="onKey('y4',$event)"/>
</div> -->

<div class="main-content">
    <canvas id="canvas"></canvas>
</div>