<div class="main-content">
  <img class="logo scale-size" src="../../assets/BitWinlogo.png">
  <div class="info">
      <div class="name">
          SERGEI.L
          <div class="ocupation">
              WEB DEVELOPER
          </div>
      </div>
      <br>
      <br>
      <div class="contact-detail">
          <span class="detail-value">(+64) 21-023-018-27</span>
          <i class="fas fa-mobile-alt scale-size" title="Mobile Phone"></i>
      </div>
      <br>
      <div class="contact-detail">
          <span class="detail-value">(+64) 21-023-018-27</span>
          <i class="fab fa-whatsapp scale-size" title="WhatsApp"></i>
      </div>
      <br>
      <div class="contact-detail">
          <span class="detail-value">bit.win@outlook.com</span>
          <i class="far fa-envelope scale-size" title="Email"></i>
      </div>
      <br>
      <div class="contact-detail">
          <span class="detail-value">bit.win</span>
          <i class="fab fa-skype scale-size" title="Skype"></i>
      </div>
      <br>
      <div class="contact-detail">
          <span class="detail-value">New Zealand</span>
          <i class="fas fa-map-marked-alt scale-size" title="Location"></i>
      </div>
  </div>
  <canvas id="canvas"></canvas>
</div>