<div class="main-container">
    <div class="price">
        <div class="description">
            price description
        </div>
        <div class="svg-container">
            <app-price-probability></app-price-probability>
        </div>
    </div>

    <div class="deliverance">
        <div class="svg-container">
            <app-deliverance-speed></app-deliverance-speed>
        </div>
        <div class="description">
            deliverance description
        </div>
    </div>

    <div class="quality-assurance">
        <div class="description">
            quality-assurance description
        </div>
        <div class="svg-container">
            <app-quality-assurance></app-quality-assurance>
        </div>
    </div>

    <div class="satisfaction">
        <div class="svg-container">
            <app-client-satisfaction></app-client-satisfaction>
        </div>
        <div class="description">
            satisfaction description
        </div>
    </div>
</div>