<div class="main-content">
    <nav class="navigation">
        <a routerLink="/home" routerLinkActive="active" title="Home"><i class="fas fa-home scale-size"></i></a>
        &nbsp;
        <a routerLink="/contacts" routerLinkActive="active" title="Contacts"><i class="fas fa-id-card scale-size"></i></a>
        &nbsp;
        <a routerLink="/calculator" routerLinkActive="active" title="Price"><i class="fas fa-calculator scale-size"></i></a>
        &nbsp;
        <a routerLink="/howitworks" routerLinkActive="active" title="How it works?"><i class="fas fa-cog spinner scale-size"></i></a>
        &nbsp;
        <a routerLink="/random-chart" routerLinkActive="active" title="Dynamic chart?"><i class="fas fa-chart-line scale-size"></i></a>
        &nbsp;
        <a routerLink="/game" routerLinkActive="active" title="Game"><i class="fas fa-gamepad scale-size"></i></a>
        &nbsp;
        <a routerLink="/new-zealand" routerLinkActive="active" title="New Zealand"><i class="fas fa-kiwi-bird scale-size"></i></a>
        &nbsp;
        <a routerLink="/road-code" routerLinkActive="active" title="New Zealand Road Code"><i class="fas fa-road scale-size"></i></a>
        &nbsp;
        <a routerLink="/fern" routerLinkActive="active" title="Silver Fern"><i class="fab fa-pagelines scale-size"></i></a>
        &nbsp;
        <a routerLink="/leaves" routerLinkActive="active" title="Falling leaves"><i class="fas fa-leaf scale-size"></i></a>
    </nav>

    <div class="outlet">
        <router-outlet></router-outlet>
        
    </div>
</div>